/*@charset 'utf-8';*/
*{padding:0;margin:0;border:0;box-sizing:border-box;}
body {width:100%;font-family:"Microsoft YaHei";height:100%;}
/*input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}*/
/*input{-webkit-appearance: none;-moz-appearance: none;appearance: none;}*/
i{font-style:normal;}
a{text-decoration:none;}
ul,li{list-style:none;}