<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfx.base.dao.UnitDao">
	<resultMap id="resultMap" type="com.cfx.base.entity.Unit">
		<id column="unit_id" property="unitId" jdbcType="VARCHAR" />
		<id column="unit_name" property="unitName" jdbcType="VARCHAR" />
		<id column="unit_short_name" property="unitShortName" jdbcType="VARCHAR" />
		 
 
	</resultMap>
 

	<select id="getById" resultMap="resultMap" parameterType="java.lang.String">
		select * from t_unit   
		where unit_id =  #{unitId} 
	</select>
	 
</mapper>   